html {
  font-size: 14px;
}

.response-content{
    white-space:pre-line;
    word-wrap:break-word;
    background-color:black;
    color:white;
    padding:20px;
    border-radius:5px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}