@model (string Status, string Content)
@{
	ViewData["Title"] = "Call the API";
}
<p>
	Este es el resultado de la llamada de la API
</p>
<div class="card">
	<div class="card-header">
		Respuesta de la API
	</div>

	<div class="card-body">
		Estatus
		<p class="response-content">
			@Model.Status
		</p>
		Contenido
		<p class="response-content">
			@Model.Content
		</p>
	</div>
</div>
